* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    max-width: 100%;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    overscroll-behavior-y: contain;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

body{
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    color: var(--color-text);
    background-color: var(--color-body);
}

main{
    min-height: 100vh;
    padding: 0.5em;
}

button{
    font-size: 1em;
    font-family: "Roboto Mono", monospace;
    background-color: var(--color-button);
    color: var(--color-text);
    border: 1px solid black;
    padding: 0.2em;
    border-radius: 3px;
    cursor: pointer;

    transition: background-color 100ms, transform 200ms;
}

button:hover:not(.unavailable){
    filter: brightness(0.9);
}

button:active:not(.unavailable){
    filter: brightness(0.8);
    transform: scale(1.03);
}

.hidden {
    display: none;
}

.unavailable {
    filter: brightness(0.55) opacity(0.8);
    cursor: not-allowed;
}

textarea{
    font-family: "Lucida Console", monospace;
    color: var(--color-text);
    background-color: var(--color-body);
}

div#tabs{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

div#offline.hidden{
    display: none;
}

div#offline {
    background-color: #00000080;
    color: white;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3em;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 2;
}

@media (orientation: portrait) and (min-width: 700px){
    body{
        font-size: 26px;
    }
}