* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    max-width: 100%;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    overscroll-behavior-y: contain;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

body{
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
}

main{
    min-height: 100vh;
    padding: 0.5em;
}

button{
    font-size: 16px;
    font-family: "Roboto Mono", monospace;
    background-color: #ededed;
    border: 1px solid black;
    padding: 0.2em;
    border-radius: 3px;

    transition: background-color 100ms, transform 200ms;
}

button:hover{
    background-color: #cecece;
}

button:active{
    background-color: #b0b0b0;
    transform: scale(1.03);
}

.hidden {
    display: none;
}

.unavailable {
    background-color: rgb(232, 186, 186);
    color: red;
    filter: brightness(0.85);
}

div#tabs{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 1em;
}